body {
    padding: 25px;
    background: url("http://www.amcham.si/assets/images/header-background-blue-xs.png"), url("https://i.imgur.com/f8vNJCt.gif");
    background-position: right top,
    left top;
    background-repeat: no-repeat,
    no-repeat;
    background-size: 80% 200px,
    12% auto;
    background-color: #eaebe9;
    color: #111113;
}

.content-wrapper {
    padding: 10%;
}

.table2 {
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

.td2, .th2 {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #e7e7e7;
    color: black;
}

.button2 {
    background-color: #555555;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    color: initial;
}

#small_button form {
    display: inline;
}

.prof-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.table_user table {
    table-layout: auto;
    height: 1.5em;
    width: 50%;
    border-collapse: collapse;
}

.table_user table, th, td {
    border: 1px solid white;
    padding: 5px;
}

#main_img {
    max-width: 75%;
    height: auto;
}

.question-link {
    text-decoration: none;
    color: black;
}

.question-link:hover {
    background-color: darkblue;
    color: white;
}

