<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit your answer:</title>
</head>
<body>
<h2>Edit your answer:</h2>
<form action="/answer_edit/{{answer.question_id }}/{{ answer.id }}" method="POST">
    <table align="center">
        <tr bgcolor="black" style="color:white">
            <th>ID</th>
            <th>Answer:</th>
        </tr>
        <tr>
            <td>#{{ answer.id }}</td>
            <td><textarea id="message" name="message" rows="6" cols="95">{{ answer.message }}</textarea></td>
        </tr>
    </table>
    <h1 method="post" align="center">
        <button type="submit">Let it out to the world!</button>
    </h1>
    <h1 align="left">
        <button type="submit">Get Back</button>
    </h1>
</form>
</body>
</html>