<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Comment time</title>
</head>
<table style="width:100%">
    <tr>
        <th></th>
        <th>User</th>
        <th>Message</th>
        <th>Submission Time</th>
        <th></th>
    </tr>
    {% for comment in comments %}
    <tr>
        <td><img class="prof-pic" src="{{comment['user_picture']}}"></td>
        <td>{{comment['username']}}</td>
        <td>{{comment['message']}}</td>
        <td>{{comment['submission_time']}}</td>
        <td>
            <form method="get" action="/delete_comment/{{question_id}}/{{comment['id']}}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<br/>
<body>
<form action="/comment/{{question_id}}" , method="POST">
    <label for="comment">Put here some fancy description about your topic:</label><br/>
    <textarea id="comment" , name="comment"></textarea><br/>
    <button type="submit">Let it out to the world!</button>
    <br/><br/></form>
<form method="get" action="/question/{{question_id}}">
    <button type="submit">Get Back</button>
</form>
</body>
{% endblock %}
</html>