<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment time</title>
</head>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Comment</th>
        <th>Submission Time</th>
        <td></td>
    </tr>
    {% for comment in comments %}
    <tr>
        <td>{{comment[0]}}</td>
        <td>{{comment[1]}}</td>
        <td>{{comment[2]}}</td>
        <td>
            <form method="get" action="/delete_comment_answer/{{answer_id}}/{{comment[0]}}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form method="get" action="/edit_comment_answer/{{answer_id}}/{{comment[0]}}">
                <button type="submit">Edit</button>
            </form>
        </td>
        {% endfor %}
    </tr>
</table>
<br/>
<body>
<form action="/comment_answer/{{answer_id}}" , method="POST">
    <label for="comment">Put here some fancy description about your topic:</label><br/>
    <textarea id="comment" , name="comment"></textarea><br/>
    <button type="submit">Let it out to the world!</button>
    <br/><br/></form>
<form method="get" action="/question/{{question_id.question_id}}">
    <button type="submit">Get Back</button>
</form>
</body>
</html>