<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome Traveler!</title>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body align="center">
        <h1 style="color:red">Welcome Traveler!</h1>
        <h2>If you are a nice geek or just simply a comic lover deep in your heart, then you are exactly in the right place.
            Share your thoughts about any Marvel topic, which you like. Be polite and have fun!</h2>
        <img src="https://img00.deviantart.net/820a/i/2016/109/5/4/marvel_cinematic_universe_2_0_by_tymann930-d9zjipk.png"
             height="405px" alt=""/>
        <form div="search" method="POST" action="/search_results">
            <input type="text" name="search_phrase">
            <input type="submit" value="Search">
        </form>
        <br>
        <table align="center">
            <tr style="color:darkred">
                <th>Index</th>
                <th>Question</th>
                <th>View Numbers</th>
                <th>Popularity</th>
            </tr>
            {% for question_detail in info %}
            <tr>
                <td>{{ question_detail['id'] }}</td>
                <td>{{ question_detail['title'] }}</td>
                <td>{{ question_detail['view_number'] }}</td>
                <td>{{ question_detail['vote_number'] }}</td>
                <td>
                    <form method="get" action="/question/{{ question_detail['id'] }}">
                        <button type="submit">✓</button>
                    </form>
            </tr>
            {% endfor %}
        </table>
        <br/>
        <form method="get" action="/question/add_new_question">
            <button type="submit">Ask something clever!</button>
        </form>
    </body>
</html>