<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<body align="center">
<table align="center">
    <tr style="color:steelblue">
        <th>Index</th>
        <th>Question</th>
        <th>View Numbers</th>
        <th>Popularity</th>
    </tr>
    {% for question_detail in info %}
    <tr>
        <td>{{ question_detail['id'] }}</td>
        <td><a href="{{ url_for('question_details', question_id=question_detail['id']) }}" class="question-link">{{ question_detail['title'] }}</a></td>
        <td>{{ question_detail['view_number'] }}</td>
        <td>{{ question_detail['vote_number'] }}</td>
        <td>
            <form method="get" action="/question/{{ question_detail['id'] }}">
                <button type="submit">✓</button>
            </form>
    </tr>
    {% endfor %}
</table>

<br>


<p class="p_class">-</p>
{% for table_pages in range(1, pages + 1) %}
    <p class="p_class"><a class="a_class" href="/table/{{ table_pages }}">{{ table_pages }}</a>
{% endfor %}
    </p>
<p class="p_class">-</p>

<br/>
{% if username != 'Anonymus' %}
<form method="get" action="/question/add_new_question">
    <button type="submit">Ask something clever!</button>
</form>
{% endif %}

<br/><form align="left">
        <input type="button" value="Get back" onclick="window.location.href='/'" />
</form>

{% endblock %}
