<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<body align="center">
<table align="center">
    <tr style="color:steelblue">
        <th>Index</th>
        <th>Question</th>
        <th>View Numbers</th>
        <th>Popularity</th>
    </tr>
    {% for question_detail in info %}
    <tr>
        <td>{{ question_detail['id'] }}</td>
        <td>{{ question_detail['title'] }}</td>
        <td>{{ question_detail['view_number'] }}</td>
        <td>{{ question_detail['vote_number'] }}</td>
        <td>
            <form method="get" action="/question/{{ question_detail['id'] }}">
                <button type="submit">✓</button>
            </form>
    </tr>
    {% endfor %}
</table>
<br/>
{% if username != 'Anonymus' %}
<form method="get" action="/question/add_new_question">
    <button type="submit">Ask something clever!</button>
</form>
{% endif %}

{% endblock %}
